<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UW INFO Entrepreneurship: Textbook Notes</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <main>
    <h1 class="site-title">INFO 498 SU 25 · Textbook Notes</h1>
    <div class="note">Chapter notes will be accessible after the date of the assigned reading for the class, for the purpose of review.<br>These notes may be imperfect - please refer to the book as the most reliable source.</div>
    <div class="book-selector">
      {% for key, bookData in books %}
        <a href="/{{ key }}/" class="book-cover-link {% if key == bookKey %}selected{% endif %}">
          <img src="/images/{{ bookData.slug }}-cover.jpg" alt="{{ bookData.title }} Cover" class="book-cover">
        </a>
      {% endfor %}
    </div>

    {{ content | safe }}

  </main>
  <footer>
    <div class="note">a resource written by <a href="https://www.linkedin.com/in/austinheinz/">Austin Heinz</a> for the <a href="https://ischool.uw.edu/">UW iSchool</a>, produced in collaboration with <a href="https://ai.google.dev/">Google's Gemini API</a></div>
  </footer>
  <script src="/main.js"></script>
</body>
</html>