---
pagination:
  data: books
  size: 1
  alias: bookKey
layout: "base.njk"
eleventyComputed:
  permalink: "{{ '/' ~ bookKey ~ '/' | url }}"
title: "{{ books[bookKey].title }} - Chapter Notes"
---

<div id="chapters-container">

  <h1>{{ books[bookKey].title }}</h1>

  {% set chapters = getChapters(bookKey) %}
  
  {% for chapterData in chapters %}
    {% include "chapter-card.njk" %}
  {% endfor %}
</div>